@import '../backend';



.wrapfull{
    width: 100%;
    padding: 40px 0px;
    .modalWrap{
        .text_center{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            div{
                display: block;
                h2{
                    font-size: 25px;
                }
                div{
                    input[type="file"]{
                        border: 1px solid #ddd;
                        border-radius: 5px;
                    }
                }
                button{
                    border-color: #1A78F2;
                    border-style: solid;
                    background-color: #1A78F2;
                    color: white;
                    border-radius: 5px;
                    padding: 10px 16px;
                    font-size: 15px;
                    margin-top: 30px;
                    cursor: pointer;
                }
                
                a{
                    font-size: 30px;
                    color: white;
                    border-color: #555;
                    position: absolute;
                    top: -10px;
                    right: -10px;
                    width: 30px;
                    height: 30px;
                    border-radius: 200px;
                    background-color: #999;
                    transition: all 0.3s ease;
                }
                a:hover{
                    background-color: red;
                }
                button:focus{
                    outline: none;
                }
            }
        }
        .text_left{
            display: block;
            justify-content: flex-start;
            align-items: center;
            height: 100%;
            padding: 25px 50px;
            div{
                display: block;
                h2{
                    font-size: 25px;
                    position: relative;
                    color: #172A68;
                    a{
                        font-size: 30px;
                        color: #172A68;
                        position: absolute;
                        top: -10px;
                        right: -10px;
                        width: 30px;
                        height: 30px;
                        transition: all 0.3s ease;
                    }
                    a:hover{
                        color: #1A78F2;
                    }
                }
                p{
                    color: #0F1A29;
                    font-weight: 500;
                    font-size: 14px;
                    margin-bottom: 5px;
                    
                }
                div{
                    input[type="text"]{
                        border: 1px solid #ddd;
                        border-radius: 5px;
                        width: 100%;
                    }
                }
                button{
                    border-color: #1A78F2;
                    border-style: solid;
                    background: #006FFF;
                    box-shadow: 0px 8px 8px rgba(0, 32, 73, 0.11);
                    border-radius: 11px;
                    color: white;
                    padding: 10px 30px;
                    font-size: 15px;
                    margin-top: 30px;
                    cursor: pointer;
                    float: right;
                }
                
                
                button:focus{
                    outline: none;
                }
            }
        }
    }
    .wrapTitle{
        margin-top: 20px;
        label{
            font-weight: 600;
        }

    }
    .header{
        display: block;
        overflow: hidden;
        min-height: 50px;
        h2{
            text-align: left;
            float: left;
            margin: 0;
            line-height: 25px;
        }
        button{
            font-size: 14px;
            color: white;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #1A78F2;
            border-width: 0;
            border-radius: 5px;
            padding: 12px 23px;
            cursor: pointer;
            float: right;
            position: relative;
            box-shadow: 1px 1px 0.2em #888;
                -webkit-box-shadow: 1px 1px 0.2em #888;
                -moz-box-shadow: 1px 1px 0.2em #888;
                -o-box-shadow: 1px 1px 0.2em #888;
            &:disabled{
                background-color: lightgray;
                color: lightslategray;
            }
            &:nth-child(2){
                padding: 10px 14px;
                background-color: transparent;
                color: #1A78F2;
                border: 1px solid #1A78F2;
            }
            &:nth-child(4){
                padding: 10px 14px;
                background-color: transparent;
                color: #1A78F2;
                border: 1px solid #1A78F2;
            }
            &:nth-child(2):hover{
                background-color: #1A78F2;
                color: white;
            }
            &:nth-child(4):hover{
                background-color: #1A78F2;
                color: white;
            }
        }
        button.saveBtn:not(:nth-child(2)){
            margin-right: 10px;
        }
        button:focus{
            outline: none;
        }
        button:before{
            content: '';
            position:absolute;
            width: 0;
            height: 100%;
            top: 0;
            left: 0;
            background-color: #0F1A29;
            opacity: 0.2;
            transition: width 0.3s ease-in-out;
        }
        button:hover:before{
            width: 100%;
        }

    } 
    .optionTab{
        .singleTabPanel{
            >div:global(.react-tabs__tab-panel--selected){
                background-color: #F5F8FC;
                border: 1px solid rgba(15, 26, 41, 0.06);
                box-sizing: border-box;
                border-radius: 16px;
            }
            &:global(.index_0){
                >div{
                    border-top-left-radius: 0;
                }
            }
        }
        
        ul{
            background-color: white;
            margin: 0;
            li{
                display: inline-flex;
                text-decoration: none;
                text-transform: uppercase;
                color: #0F1A29;
                opacity: .45;
                font-size: 15px;
                font-weight: 500;
                cursor: pointer;
                position: relative;
                align-items: center;
                padding: 10px 25px;
                margin: 0;
                box-sizing: border-box;
                border-radius: 16px 16px 0px 0px;
                span.editTitle{
                    margin-left: 15px;
                    display: none;
                }
            } 
            li:focus{
                outline: none;
            }

            li[aria-selected="true"]:after,
            li[aria-selected="true"]{
                opacity: 1;
                background: #F5F8FC;
                border-left: 1px solid rgba(15, 26, 41, 0.06);
                border-right: 1px solid rgba(15, 26, 41, 0.06);
                border-top: 1px solid rgba(15, 26, 41, 0.06);
                span.editTitle{
                    display: block;
                }
            }
            li[aria-selected="true"] span.editTitle{
                display: block;
            }
            
        }
        
    } // End .optionTab


  
  
    .orderIcon{
        cursor: pointer;
    }
} // End .wrapfull

