@import '../../pages/Tableofrates.scss';

.optionBody{
    padding: 30px;
    >.d_flex{
        &.blankRow{
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 600px;
        }
        .blankItem{
            text-align: center;
            .icon{
                text-align: center;
                display: flex;
                justify-content: center;
                span{
                    background-image: url(../../icons/table-blank.svg);
                    display: block;
                    width: 80px;
                    height: 80px;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
            p{
                font-size: 16px;
            }
            button{
                background: #FFFFFF;
                border: 1px solid rgba(26, 120, 242, 0.16);
                box-sizing: border-box;
                border-radius: 16px;
                padding: 10px 30px;
                color: #1a78f2;
                cursor: pointer;
                
                &:hover{
                    background-color: #1a78f2;
                    color: white;
                }
                >span{
                    margin-right: 5px;
                }
            }
        }  
        .condition{
            flex: 1;
            margin-top: 15px;
            .rawOperation{
                div.d_flex{
                    margin: 20px 0;
                    div.text_left{
                        flex: 1;
                    }
                    .text_right{
                        text-align: right;
                        flex: 2;
                        position: relative;
                        .moreOptions{
                            position: absolute;
                            right: 0;
                            z-index: 1;
                            width: 300px;
                            display: block;
                            overflow: hidden;
                            >div{
                                position: relative;
                                background-color: white;
                                opacity: 0;
                                display: none;
                                border-radius: 10px;
                                overflow: hidden;
                            }
                            span.moreOptiondisable{
                                opacity: 0;
                                width: 100%;
                                height: 100%;
                                position: fixed;
                                top: 0;
                                left: -100%;
                                background: rgba(0,0,0,0.3);
                                transition: opacity 0.5s;
                            }
                            &.show{
                                >div{
                                    opacity: 1;
                                    display: block;
                                }
                                span.moreOptiondisable{
                                    opacity: 1;
                                    left: 0;
                                }
                            }
                        }
                        button{
                            margin-right: 0;
                            padding: 8px 18px;
                            &.deleteBtn{
                                padding: 8px 8px;
                                text-align: center;
                                border: 1px solid rgba(235, 87, 87, 0.2);
                                color: #EB5757;
                                &:hover{
                                    color: white;
                                }
                                span{
                                    font-size: 20px;
                                    line-height: 15px;
                                    &.svgIcon{
                                        margin-right: 0;
                                    }
                                }
                            }
                            span.svgIcon{
                                margin-right: 3px;
                            }
                        }
                    }
                }
                div{
                    a,
                    button{
                        cursor: pointer;
                        padding: 8px 20px;
                        margin-left: 15px;
                        color: #1a78f2;
                        text-decoration: none;

                        background-color: #FFFFFF;
                        border: 1px solid rgba(26, 120, 242, 0.15);
                        box-sizing: border-box;
                        border-radius: 16px;

                        .svgIcon{
                            font-size: 15px;
                            vertical-align: middle;
                            margin-right: 5px;
                            padding-top: 2px;
                        }
                    }
                    a.downloadCSV{
                        padding: 7px 10px;
                        display: inline-block;
                        span.svgIcon{
                            margin-right: 3px;
                        }
                    }
                    a:hover,
                    button:hover{
                        background-color: #1A78F2;
                        color: white;
                    }

                    button:focus{
                        outline: none;
                    }
                    button.deleteBtn{
                        border-color: #EB5757;
                        color: #EB5757;
                        &:not(.all){
                            padding: 8px 10px;
                        }
                        &.all{
                            padding: 5px 10px;
                            margin: 0;
                        }
                        span{
                            margin: 0;
                        }
                    }
                    button.deleteBtn:hover{
                        border-color: #1A78F2;
                        color: #fff;
                    }
                    &.text_left{
                        button:not(.deleteBtn){
                            margin-left: 0;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            float: left;
                        }
                    }
                    &[role="button"]{
                        display: unset;
                    }
                }
            }
            .RawTable{
                div.wraptable{
                    border-radius: 5px;
                    table{
                        width: 100%;
                        border-collapse: collapse;
                        tr{
                            td{
                                
                            }
                            td:first-child{
                                max-width: 30px;
                                width: 30px;
                            }
                        }
                        thead{
                            tr:first-child{
                                td{
                                    text-transform: uppercase;
                                    text-align: left;
                                    padding: 10px;
                                }
                            }
                        }
                        tbody{
                            tr{
                                position: relative;
                                &::before{
                                    content: '';
                                    width: 100%;
                                    height: calc(100% - 20px);
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    background-color: white;
                                    border-radius: 10px;
                                    border: 1px solid rgba(15, 26, 41, 0.08);
                                }
                                td{
                                    padding: 15px;
                                    position: relative;
                                    vertical-align: top;
                                    &:first-child{
                                        display: block;
                                        input[type="checkbox"]{
                                            margin-top: 10px;
                                        }
                                    }
                                    &:last-child{
                                        vertical-align: middle;
                                    }
                                    .singleCost{
                                        margin-bottom: 20px;
                                        padding-right: 50px;
                                        position: relative;
                                        div{
                                            &.row{
                                                display: flex;
                                                >div{
                                                    flex: 5;
                                                    margin: 0 6px;
                                                    &:first-child{
                                                        margin-left: 0;
                                                    }
                                                }
                                                &:not(.last){
                                                    >div{
                                                        &:last-child{
                                                            flex: 1;
                                                            margin-left: 0;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    a{
                                        text-decoration: none;
                                        font-size: 13px;
                                        font-weight: 500;
                                        display: inline-flex;
                                        padding-bottom: 25px;
                                        align-items: center;
                                        &.addDeliveryDay{
                                                &::before{
                                                    content: '';
                                                    width: 3px;
                                                    background-color: #69717b45;
                                                    height: 16px;
                                                    position: relative;
                                                    display: inline-block;
                                                    z-index: 999;
                                                    vertical-align: middle;
                                                    margin: 0 20px;
                                                }
                                            
                                        }
                                        span{
                                            font-size: 22px;
                                            vertical-align: middle;
                                        }
                                    }
                                    a:focus{
                                        outline: none;
                                        box-shadow: none;
                                    }
                                    a.mt_1{
                                        margin-top: 10px;
                                        display: inline-block;
                                    }
                                    .singleCondition{
                                        margin-bottom: 20px;
                                        padding-right: 50px;
                                        position: relative;
                                        >div{
                                            &.delivery_Day_input{
                                                margin-top: 10px;
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                                border: 1px solid rgba(15, 26, 41, 0.15);
                                                border-radius: 6px;
                                                overflow: hidden;
                                                span{
                                                    background-color: #80808026;
                                                    line-height: 40px;
                                                    display: flex;
                                                    justify-content: center;
                                                }
                                                span.before{
                                                    flex: 2;
                                                    max-width: 150px;
                                                    min-width: 120px;
                                                }
                                                span.after{
                                                    flex: 1;
                                                    min-width: 60px;
                                                }
                                                >div{
                                                    flex: 7;
                                                    input{
                                                        margin: 0;
                                                        border-width: 0;
                                                        padding-right: 5px;
                                                    }
                                                }
                                            }
                                            &:first-child{
                                                float: left;
                                                width: calc(50% - 5px);
                                                margin: 5px 0;
                                                select{
                                                    width: 100%;
                                                }
                                            }
                                            &:nth-child(3){
                                                margin-right: 10px;
                                                float: left;
                                            }
                                            &:nth-child(4),
                                            &:nth-child(3){
                                                max-width: 50%;
                                                margin-bottom: 5px;
                                                width: calc(50% - 5px);
                                            }
                                            &:nth-child(5){
                                                margin: 5px 0;
                                            }
                                        }
                                        .multiselectItems{
                                            .multiselect{
                                                margin-top: 5px;
                                                ul{
                                                    overflow-x: hidden;
                                                    li{
                                                        display: block;
                                                        width: 100%;
                                                        font-size: 14px;
                                                        margin-right: 0;
                                                        text-decoration: none;
                                                        text-transform: unset;
                                                        color: unset;
                                                        opacity: 1;
                                                        cursor: pointer;
                                                        position: relative;
                                                    }
                                                    li:first-child,
                                                    li:hover{
                                                        color: white;
                                                    }
                                                }
                                            }
                                            .datePickerWrap{
                                                position: relative;
                                                a.closeBtn{
                                                    font-size: 30px;
                                                    color: white;
                                                    border-color: #555;
                                                    position: absolute;
                                                    top: -10px;
                                                    right: -10px;
                                                    width: 30px;
                                                    height: 30px;
                                                    border-radius: 200px;
                                                    background-color: #999;
                                                    transition: all 0.3s ease;
                                                    span{
                                                        font-size: 30px;
                                                        margin: unset;
                                                    }
                                                }
                                                a.closeBtn:hover{
                                                    background-color: red;
                                                }
                                                div.buttonGroup{
                                                    width: 200px;
                                                    display: flex;
                                                    margin: 0 auto;
                                                    button:first-child{
                                                        margin-right: 20px;
                                                        background-color: violet;
                                                    }
                                                    button{
                                                        margin-top: 5px;
                                                        display: inline-block;
                                                        margin-left: auto;
                                                        margin-right: auto;
                                                        font-size: 25px;
                                                        color: white;
                                                        text-align: center;
                                                        display: block;
                                                        background-color: #1A78F2;
                                                        border-width: 0;
                                                        border-radius: 5px;
                                                        padding: 12px 23px;
                                                        cursor: pointer;
                                                    }
                                                    button:focus{
                                                        outline: none;
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    .closeBtn{
                                        position: relative;
                                        min-height: 55px;
                                        display: flex;
                                        align-items: center;
                                        padding: 0 15px;
                                        span.closeIcon{
                                            font-size: 16px;
                                            border: 1px solid #777;
                                            border-radius: 100px;
                                            height: 20px;
                                            width: 20px;
                                            vertical-align: middle;
                                            overflow: hidden;
                                            display: inline-block;
                                            color: #777;
                                            text-align: center;
                                            padding-top: 1px;
                                            cursor: pointer;
                                            margin-top: 5px;
                                        }

                                        span.closeIcon:hover{
                                            border-color: red;
                                            color: red;
                                        }
                                    }
                                    textarea{
                                        border: 1px solid rgba(15, 26, 41, 0.15);
                                        border-radius: 6px;
                                    }
                                    input:not([type="checkbox"]), select{
                                        height: 40px;
                                        line-height: 40px;
                                        border-radius: 6px;
                                        border: 1px solid rgba(15, 26, 41, 0.15);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}