/*!**********************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/sass-loader/dist/cjs.js!./node_modules/sass-resources-loader/lib/loader.js??ruleSet[1].rules[1].use[3]!./src/backend.scss ***!
  \**********************************************************************************************************************************************************************************************************************/
#uiemlms_ui_root {
  margin: 30px 30px 30px 0; }
  #uiemlms_ui_root * {
    box-sizing: border-box; }
  #uiemlms_ui_root > div.uiemlms_bgWhiteJnnas {
    background-color: white;
    border-radius: 5px;
    position: relative;
    max-width: 100%; }
    #uiemlms_ui_root > div.uiemlms_bgWhiteJnnas .uiemlms_test_classwEAXV {
      width: 100%;
      padding: 40px;
      border-radius: 5px;
      display: flex;
      background: white; }
      #uiemlms_ui_root > div.uiemlms_bgWhiteJnnas .uiemlms_test_classwEAXV > div {
        flex: 1; }
      #uiemlms_ui_root > div.uiemlms_bgWhiteJnnas .uiemlms_test_classwEAXV .uiemlms_right_innermIkVm button {
        background-color: white;
        border: 1px solid #00a0d2;
        color: #00a0d2;
        margin: 10px 0; }
        #uiemlms_ui_root > div.uiemlms_bgWhiteJnnas .uiemlms_test_classwEAXV .uiemlms_right_innermIkVm button span {
          margin-right: 10px; }
        #uiemlms_ui_root > div.uiemlms_bgWhiteJnnas .uiemlms_test_classwEAXV .uiemlms_right_innermIkVm button:hover {
          background-color: #00a0d2;
          color: white; }
      #uiemlms_ui_root > div.uiemlms_bgWhiteJnnas .uiemlms_test_classwEAXV .uiemlms_right_innermIkVm a {
        display: block;
        text-decoration: none;
        padding: 10px;
        margin: 13px 0;
        border: 1px solid #00a0d2;
        max-width: 300px;
        border-radius: 5px;
        color: black;
        text-align: center; }
      #uiemlms_ui_root > div.uiemlms_bgWhiteJnnas .uiemlms_test_classwEAXV .uiemlms_right_innermIkVm a:hover {
        color: white;
        background-color: #5b9dd9; }
      #uiemlms_ui_root > div.uiemlms_bgWhiteJnnas .uiemlms_test_classwEAXV .uiemlms_form_frouplAPZn {
        margin-bottom: 10px; }
        #uiemlms_ui_root > div.uiemlms_bgWhiteJnnas .uiemlms_test_classwEAXV .uiemlms_form_frouplAPZn select {
          width: 100%; }
      #uiemlms_ui_root > div.uiemlms_bgWhiteJnnas .uiemlms_test_classwEAXV .uiemlms_msgSoGnT0 {
        color: #5b9dd9;
        padding: 10px 0; }
      #uiemlms_ui_root > div.uiemlms_bgWhiteJnnas .uiemlms_test_classwEAXV .uiemlms_uploadertXIqB {
        margin-top: 10px;
        margin-bottom: 10px; }
        #uiemlms_ui_root > div.uiemlms_bgWhiteJnnas .uiemlms_test_classwEAXV .uiemlms_uploadertXIqB input {
          border: 1px solid #5b9dd9;
          border-radius: 5px;
          padding: 10px; }
      #uiemlms_ui_root > div.uiemlms_bgWhiteJnnas .uiemlms_test_classwEAXV button {
        border-width: 0;
        background-color: #00a0d2;
        border-radius: 5px;
        padding: 10px 20px;
        color: white;
        cursor: pointer; }

/*!******************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/sass-loader/dist/cjs.js!./node_modules/sass-resources-loader/lib/loader.js??ruleSet[1].rules[1].use[3]!./src/utils/csvloader.scss ***!
  \******************************************************************************************************************************************************************************************************************************/
.uiemlms_loaderGBUlO {
  background-color: #eeeeee7a;
  position: absolute;
  width: calc(100% - 20px);
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 12; }


/*# sourceMappingURL=backend.css.map*/