:global(#acotrs_ui_root.fixed-header--active) {
  .headertab{
    position: fixed;
    top: 30px;
    width: 100%;
    z-index: 999;
    left: 160px;
    background: white;
    border-top: 1px solid #eee;
    box-shadow: 0px 3px 0.3em #ccc;
    -o-box-shadow: 0px 3px 0.3em #ccc;
    -moz-box-shadow: 0px 3px 0.3em #ccc;
    -webkit-box-shadow: 0px 3px 0.3em #ccc;
    &.wrap{
      border-radius: 0;
    }
  }
}



.wrap{
  display: block;
  overflow: hidden;
  background: #EEF3F7;
  border-radius: 16px;
  padding: 5px;

  ul{
    margin: 0;
    li{
      display: inline-flex;
      position: relative;
      padding: 0 10px;
      &:first-child{
        padding-left: 0;
      }
      &:last-child::after{
        content: unset;
      }
      &::after{
        content: '';
        width: 1.2px;
        background-color: rgba(105, 113, 123, 0.12);
        position: absolute;
        top: 25%;
        height: 50%;
        right: 0;
      }
      a{
        text-decoration: none;
        color: #0F1A29;
        font-size: 15px;
        position: relative;
        padding: 20px 35px;
        font-weight: bold;
        border-radius: 11px;
        margin: 10px 10px 3px 10px;
        display: flex;
        align-items:center;
        &.active,
        &:hover{
          background: #006FFF;
          color: white;
          box-shadow: 0px 8px 8px rgba(0, 32, 73, 0.11);
          -o-box-shadow: 0px 8px 8px rgba(0, 32, 73, 0.11);
          -webkit-box-shadow: 0px 8px 8px rgba(0, 32, 73, 0.11);
          -moz-box-shadow: 0px 8px 8px rgba(0, 32, 73, 0.11);
        }
        .tabindex{
          width: 28px;
          height: 28px;
          display: inline-block;
          margin-right: 10px;
          background-repeat:  no-repeat;
          background-size: contain;
        }
      }
      &:first-child{
        a{
          .tabindex{
            background-image: url(../../icons/settings.svg);
          }
          &.active,
          &:hover{
            .tabindex{
              background-image: url(../../icons/settings-hover.svg);
            }
            
          }
        }
      }
      &:nth-child(2){
        a{
          .tabindex{
            background-image: url(../../icons/court-house.svg);
          }
          &.active,
          &:hover{
            .tabindex{
              background-image: url(../../icons/court-house-hover.svg);
            }
            
          }
        }
      }
      &:nth-child(3){
        a{
          .tabindex{
            background-image: url(../../icons/rotate.svg);
          }
          &.active,
          &:hover{
            .tabindex{
              background-image: url(../../icons/rotate-hover.svg);
            }
            
          }
        }
      }
      &:nth-child(4){
        a{
          .tabindex{
            background-image: url(../../icons/options.svg);
          }
          &.active,
          &:hover{
            .tabindex{
              background-image: url(../../icons/options-hover.svg);
            }
            
          }
        }
      }
      &:last-child{
        a{
          .tabindex{
            background-image: url(../../icons/dollar-circle.svg);
          }
          &.active,
          &:hover{
            .tabindex{
              background-image: url(../../icons/dollar-circle-hover.svg);
            }
            
          }
        }
      }



    }
  }
  
  ul>li:last-child>a{
    border-right-width: 0;
  }
}



@media only screen and (max-width: 1366px) {
  .wrap{
    ul{
      li{
        a{
          padding: 15px 20px;
          font-size: 0.9vw;
          margin: 10px 5px 3px 5px;
          .tabindex{
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}



@media only screen and (max-width: 1024px) {
  .wrap{
    ul{
      li{
        a{
          padding: 9px;
          font-size: 0.9vw;
          margin: 5px 5px 0px 5px;
          .tabindex{
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}



@media only screen and (max-width: 1613px) {
  .wrap{
    ul{
      li{
        a{
          padding: 15px 20px;
          font-size: 0.9vw;
          margin: 8px 8px 2px 8px;
          .tabindex{
            width: 25px;
            height: 25px;
          }
        }
      }
    }
  }
}