$label_color: #0F1A29;
$light_gray: #999;
$button_bg: #1A78F2;


:global(#uiemlms_ui_root) {
  //@import 'reset';
  * {
    box-sizing: border-box;
  }

  margin: 30px 30px 30px 0;
  >div.bgWhite{
    background-color: white;
    border-radius: 5px;
    position: relative;
    max-width: 100%;
    .test_class{
      width: 100%;
      padding: 40px;
      border-radius: 5px;
      display: flex;
      >div{
        flex: 1
      }
      .right_inner{
        button{
          background-color: white;  
          border: 1px solid #00a0d2;
          color: #00a0d2;
          margin: 10px 0;
          span{
            margin-right: 10px;
          }
          &:hover{
            background-color: #00a0d2;
            color: white;
          }
        }
       a{
          display: block;
          text-decoration: none;
          padding: 10px;
          margin: 13px 0;
          border: 1px solid #00a0d2;
          max-width: 300px;
          border-radius: 5px;
          color: black;
          text-align: center;
       }   
       a:hover{
         color: white;
         background-color: #5b9dd9;
       }
      }
      
      background: white;
      .form_froup{
        margin-bottom: 10px;
        select{
          width: 100%;
        }
      }
      .msgS{
        color: #5b9dd9;
        padding: 10px 0;
      }
      .uploader{
        margin-top: 10px;
        margin-bottom: 10px;
        input{
          border: 1px solid #5b9dd9;
          border-radius: 5px;
          padding: 10px;
        }
      }
      button{
        border-width: 0;
        background-color: #00a0d2;
        border-radius: 5px;
        padding: 10px 20px;
        color: white;
        cursor: pointer;
      }
    }
  }
}