$label_color: #0F1A29;
$light_gray: #999;
$button_bg: #1A78F2;


:global(#acotrs_shipping_ui_root) {
  //@import 'reset';
  * {
    box-sizing: border-box;
  }

  >div.bgWhite{
    padding-right: 10px;
    background-color: white;
    border-radius: 5px;
    padding-bottom: 5rem;
    position: relative;
  }
}